
{% extends "base_appli.html.twig" %}

    {% block contenu %}
<div class="bg-white min-h-100vh max-h-100">
<div class="container-extraction bg-white w-min-content">
    <h2 class="color-blue w-max-content m-0 pt-50px font-julius">Nouvelle Extraction</h2>
    <form action="" class="form-extraction mt-50px d-flex flex-column font-roboto">
        <div class="d-flex row">
            <div class="d-flex flex-column mr-100px">
                <label class="text-center" for="name-extract">Nom de l'extraction</label>
                <input type="text" name="name-extract" class="input-connexion input-extraction">
            </div>
            <div class="d-flex flex-column">
                <label class="text-center" for="url-extract">L'URL du site</label>
                <input type="text" name="url-extract" class="input-connexion input-extraction">
            </div>
        </div>
        <div class="d-flex row mt-4">
            <div class="d-flex flex-column mr-100px">
                <label class="text-center" for="category">Catégorie</label>
                <div class="select-container">
                    <select name="category" class="" id="">
                        <option value=""></option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="hamster">Hamster</option>
                        <option value="parrot">Parrot</option>
                        <option value="spider">Spider</option>
                        <option value="goldfish">Goldfish</option>
                    </select>
                </div>
            </div>
            <div class="d-flex flex-column">
                <label class="text-center" for="periodicity">Périodicité</label>
                <div class="select-container">
                    <select name="periodicity" class="" id="">
                        <option value=""></option>
                        <option value="dog">Dog</option>
                        <option value="cat">Cat</option>
                        <option value="hamster">Hamster</option>
                        <option value="parrot">Parrot</option>
                        <option value="spider">Spider</option>
                        <option value="goldfish">Goldfish</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="d-flex row w-100 justify-content-arround mt-4 form-input-radio">
            <div class="d-flex align-center mr-100px">
                <input type="radio" id="multiple" name="choice-extract" value="multiple" class="mr-1" checked onclick="partieMultiple()" />
                <label class="font-bold" for="multiple">Multiple</label>
            </div>
            <div class="d-flex align-center">
                <input type="radio" id="simple" name="choice-extract" value="simple" class="mr-1" onclick="partieSimple()" />
                <label class="font-bold" for="simple">Simple</label>
            </div>
        </div>
        <span id="partie-multiple">
            <div class="d-flex row mt-4">
                <div class="d-flex flex-column mr-100px">
                    <label class="text-center" for="container-father">Container du container des infos</label>
                    <input type="text" name="container-father" class="input-connexion input-extraction">
                </div>
                <div class="d-flex flex-column">
                    <label class="text-center" for="container-child">Container des infos</label>
                    <input type="text" name="container-child" class="input-connexion input-extraction">
                </div>
            </div>
            <div class="d-flex row mt-4 d-flex" id="list-balise-extract">
                <div class="d-flex flex-column mr-100px">
                    <label class="text-center" for="balise-multiple">Cibler les balises</label>
                    <input type="text" name="balise-multiple" class="input-connexion input-extraction">
                </div>
                <div class="d-flex flex-column">
                    <label class="text-center label-balise-type" for="type-multiple">Quel est son type ?</label>
                    <div class="d-flex row">
                        <div class="select-container">
                            <select name="type-multiple" class="" id="">
                                <option value=""></option>
                                <option value="dog">Dog</option>
                                <option value="cat">Cat</option>
                                <option value="hamster">Hamster</option>
                                <option value="parrot">Parrot</option>
                                <option value="spider">Spider</option>
                                <option value="goldfish">Goldfish</option>
                            </select>
                        </div>
                        <input type="button" class="btn-ajout ml-2 bg-blue color-white font-roboto" onclick="addInput('container-multiple')" value="Ajouter une balise" />
                    </div>
                </div>
            </div>
            <span id="container-multiple"></span>
        </span> 
        <div class="d-flex row mt-4 d-none" id="partie-simple">
            <div class="d-flex flex-column mr-100px">
                <label class="text-center" for="balise-multiple">Cibler les balises</label>
                <input type="text" name="balise-multiple" class="input-connexion input-extraction">
            </div>
            <div class="d-flex flex-column">
                <label class="text-center label-balise-type" for="type-multiple">Quel est son type ?</label>
                <div class="d-flex row">
                    <div class="select-container">
                        <select name="type-multiple" class="" id="">
                            <option value=""></option>
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="hamster">Hamster</option>
                            <option value="parrot">Parrot</option>
                            <option value="spider">Spider</option>
                            <option value="goldfish">Goldfish</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn-scrap mt-4 color-white font-roboto font-size2">Scraper cette spage !</button>
    </form>
    
<!-- SCRIPT -->
    <!-- partie simple & multiple -->
        <script>
            function partieMultiple() {
                document.getElementById("partie-multiple").classList.add("d-block");
                document.getElementById("partie-multiple").classList.remove("d-none");

                document.getElementById("partie-simple").classList.add("d-none");
                document.getElementById("partie-simple").classList.remove("d-flex");
            }
            function partieSimple() {
                document.getElementById("partie-simple").classList.add("d-flex");
                document.getElementById("partie-simple").classList.remove("d-none");

                document.getElementById("partie-multiple").classList.add("d-none");
                document.getElementById("partie-multiple").classList.remove("d-block");
            }
        </script>
    <!-- add input -->
        <script> 
        var nlignes = 0;
        function addInput(divName){
        nlignes++;
        var newdiv = document.createElement('div');
        newdiv.innerHTML = '<div class="d-flex row mt-1" id="champ'+nlignes+'">' +
                                '<div class="d-flex flex-column mr-100px">' +
                                    '<input type="text" class="input-connexion input-extraction" name="balise-multiple">' +
                                '</div>' +
                                '<div class="d-flex flex-column">' +
                                    '<div class="d-flex row">' +
                                        '<div class="select-container">' +
                                            '<select name="type-multiple">' +
                                                '<option value=""></option>' +
                                                '<option value="dog">Dog</option>' +
                                                '<option value="cat">Cat</option>' +
                                                '<option value="hamster">Hamster</option>' +
                                                '<option value="parrot">Parrot</option>' +
                                                '<option value="spider">Spider</option>' +
                                                '<option value="goldfish">Goldfish</option>' +
                                            '</select>' +
                                        '</div>' +
                                        '<input type="button" class="btn-ajout ml-2 bg-grey color-white font-roboto remove-btn" onclick="document.getElementById(\'champ'+nlignes+'\').remove();" value="Supprimer cette balise" />' +
                                    '</div>' +
                                '</div>' +
                            '</div>' ;
        console.log(newdiv);
        document.getElementById(divName).appendChild(newdiv);
        }
        </script>          
    </div>
</div>

    {% endblock %}