{% extends "base.html.twig" %}

{% block contenu %}
    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-6 text-center my-5">
                <img src="../images/lunettes-de-realite-virtuelle.png" class="img-logo" alt="logo lookinim">
                <h1 class="mt-5 mb-4">Look<span class="purple">in</span>im</h1>
                <p><strong>Lookinim vous permet de récupérer n'importe quelles</br>informations sur n'importe quel site !</br></strong>
                </br>Dashboard simple et intuitif 100% gratuit</br>pas de téléchargement</br>Recevez dans votre boite mail votre recherche</br>
                Faites votre recherche une fois puis recevez là tous les jours.
                </p>
                <a href="/connexion" class="btn btn-primary btn-lg mt-5 mb-2 px-4">Connexion</a>
                <p><a href="/connexion">Inscription</a></p>
            </div>
            <div class="col-6">
                <img src="../images/5172608.jpg" class="img-illustration img-fluid" alt="illustration web">
            </div>
        </div>
    </div>
{% endblock %}
