{% extends "base.html.twig" %}

    {% block menu %}
    <div class="container-fluid position-fixed vh-100 w-300 border-end z-index-1">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/images/lunettes-de-realite-virtuelle.png" class="img-logo-2 mr-4 p-2" alt="logo lookinim">
                <h1 class="display-6"> Look<span class="purple">in</span>im</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <ul class="list-unstyled mt-4">
                    <li class=" px-2 py-4">
                        <a href="extractions.html"
                            class="d-flex w-100 justify-content-between fs-4 text-decoration-none text-black">
                            <span class="width-200">Accueil</span>
                            <span class="width-50"><img src="/images/home4.png" alt=""></span>
                        </a>
                    </li>
                    <li class=" px-2 py-4">
                        <span class="width-200 height-1 border-b1"></span>
                        <a href="liste.html"
                            class="d-flex w-100 justify-content-between fs-4 text-decoration-none text-black">
                            <span class="width-200">Mes extractions</span>
                            <span class="width-50"><img src="/images/download2.png" alt=""></span>
                        </a>
                    </li>
                    <li class=" px-2 py-4">
                        <span class="width-200 border-b1"></span>
                        <a href="compte.html"
                            class="d-flex w-100 justify-content-between fs-4 text-decoration-none text-black">
                            <span class="width-200">Mon compte</span>
                            <span class="width-50"><img src="/images/cog3.png" alt=""></span>
                        </a>
                    </li>
                    <li class=" px-2 py-4">
                        <span class="width-200 border-b1"></span>
                        <a href="index.html"
                            class="d-flex w-100 justify-content-between fs-4 text-decoration-none text-black">
                            <span class="width-200">Déconnexion</span>
                            <span class="width-50"><img src="/images/btn5.png" alt=""></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block contenu %}
    <div class="ml-350 py-5 min-height-footer">
        <div class="position-relative mb-5">
            <h2 class="mb-4">Mon compte</h2>
            <div class="trait-2"></div>
        </div>
        <form action="" method="post" class="width-fit-content">
            <div class="row align-items-center m-0">
                <div class="col-7">
                    <input type="text" class="form-control mb-3" name="name" placeholder="Nom du compte">
                </div>
                <div class="col-7">
                    <input type="text" class="form-control mb-3" name="password" placeholder="Mot de passe">
                </div>
                <div class="col-7">
                    <input type="text" class="form-control mb-3" name="mail" placeholder="Email">
                </div>
                <div class="row p-0">
                    <div class="d-flex align-items-center ps-5">
                        <button class="btn btn-primary btn-lg  px-4">Modifier</button>
                        <button class="border-0 py-2 px-3 ms-4 rounded"><img src="/images/trash2.png" alt=""></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}