{% extends "base_appli.html.twig" %}

    {% block contenu %}
    <div class="ml-350 py-5 min-height-footer">
        <div class="position-relative mb-5">
            <h2 class="mb-4">Mon compte</h2>
            <div class="trait-2"></div>
        </div>
        <form action="" method="post" class="width-fit-content">
            <div class="row align-items-center m-0">
                <div class="col-7">
                    <input type="text" class="form-control mb-3" name="name" placeholder="Nom du compte">
                </div>
                <div class="col-7">
                    <input type="text" class="form-control mb-3" name="password" placeholder="Mot de passe">
                </div>
                <div class="col-7">
                    <input type="text" class="form-control mb-3" name="mail" placeholder="Email">
                </div>
                <div class="row p-0">
                    <div class="d-flex align-items-center ps-5">
                        <button class="btn btn-primary btn-lg  px-4">Modifier</button>
                        <button class="border-0 py-2 px-3 ms-4 rounded"><img src="/images/trash2.png" alt=""></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}