{% extends "base_appli.html.twig" %}

    {% block contenu %}
    <div class="ml-350 py-5 min-height-footer">
        <div class="position-relative mb-5">
            <h2 class="mb-4">Nouvelle extraction</h2>
            <div class="trait-2"></div>
        </div>
        <form action="" method="post" class="width-fit-content">
            <div class="row m-0">
                <div class="col-5">
                    <input type="text" class="form-control mb-3" name="name-extract" placeholder="Nom de l'extraction*">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control mb-3" name="url" placeholder="Url du site*">
                </div>
                <div class="col-5">
                    <select id="categorie" class="form-control form-select" name="categorie">
                        <option selected>Catégorie*</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-5">
                    <select id="periodicite" class="form-control form-select" name="periodicite">
                        <option selected>Périodicité*</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-12 py-5">
                    <div class="form-check form-check-inline pe-5">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="multiple" checked>
                        <label class="form-check-label" for="inlineRadio1">Multiple</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="simple">
                        <label class="form-check-label" for="inlineRadio2">Simple</label>
                    </div>
                </div>
                <div class="col-5">
                    <input type="text" class="form-control mb-3" name="master-container"
                        placeholder="Container du container des infos*">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control mb-3" name="container" placeholder="Container des infos*">
                </div>
                <div class="col-5">
                    <input type="text" class="form-control mb-3" name="cible" placeholder="Cible des balises*">
                </div>
                <div class="col-5">
                    <select id="type" name="type" class="form-control form-select">
                        <option selected>Type de la balise*</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-5">
                    <input type="text" class="form-control mb-3" name="cible" placeholder="Cible des balises*">
                </div>
                <div class="col-5">
                    <select id="type" name="type" class="form-control form-select">
                        <option selected>Type de la balise*</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-2">
                    <button class="border-0 py-2 px-3 rounded"><img src="/images/trash2.png" alt=""></button>
                    <button class="border-0 py-2 px-3 rounded"><img src="/images/croix.png" alt=""></button>
                </div>
                <div class="col-4 ps-5">
                    <button class="btn btn-primary btn-lg mt-5 mb-2 px-4">Scrapper cette page!</button>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
