{% extends "base_appli.html.twig" %}

{% block contenu %}
  <div class="ml-350 py-5 min-height-footer">
    <div class="row m-0">
      <div class="col-12 py-3">
        <div class="position-relative mb-5">
            <h2 class="mb-4">Mes extractions</h2>
            <div class="trait-2"></div>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
