<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lookinim</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- content -->
        <div class="container-fluid position-fixed vh-100 w-15 border-end z-index-1">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="img/lunettes-de-realite-virtuelle.png" class="img-logo-2 mr-4 p-2" alt="logo lookinim">
                        <h1 class="display-6"> Look<span class="purple">in</span>im</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <ul class="list-unstyled">
                            <li class="pt-4"><a href="extractions.html" class="fs-4 text-decoration-none text-black"><div class="border px-2 py-4">Accueil<img src="img/home4.png" class="ms-4" alt=""></div></a></li>
                            <li class="pt-2"><a href="liste.html" class="fs-4 text-decoration-none text-black"><div class="border px-2 py-4">Mes extractions<img src="img/download2.png" class="ms-4" alt=""></div></a></li>
                            <li class="pt-2"><a href="compte.html" class="fs-4 text-decoration-none text-black"><div class="border px-2 py-4">Mon compte<img src="img/cog3.png" class="ms-4" alt=""></div></a></li>
                            <li class="pt-2"><a href="index.html" class="fs-4 text-decoration-none text-black"><div class="border px-2 py-4">Déconnexion<img src="img/btn5.png" class="ms-4" alt=""></div></a></li>
                        </ul>
                    </div>
                </div>
        </div>

    <div class="ml-350 py-5 min-height-footer">
        <div class="row">
            <div class="col-12 py-3">
                <div class="position-relative mb-5">
                    <h2 class="mb-4">Mes extractions</h2>
                    <div class="trait-2"></div>
                </div>
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
       

    </div>
    <!-- end content -->

    <!-- footer -->
    <footer class="container-fluid height-80 d-flex justify-content-center align-items-center  bg-lg-grey text-center display-8 py-3">
        <p>lookinim@2021</p>
    </footer>
    <!--end footer -->

    <!-- script -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <!-- end script -->

</body>

</html>